.container {
  width: 1920px;
  margin: 0 auto;
  background-color: #171717;
}

.header {
  padding: 46px 230px 128px 230px;
  display: flex;
  justify-content: space-between;
}
.image {
  width: 216px;
  height: 33px;
}
.callButton {
  color: #e4b564;
  display: flex;
  align-items: center;
  font-family: "Circe";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding: 10px 28px;
  border: 1px solid #e4b564;
}
.callButtonImg {
  height: 13px;
  width: 13px;
  margin-right: 7px;
}
.containerMain{
  max-width: 1460px;
  margin: 0 auto;
} 
.main {
  font-family: "Gilam";
}
.mainHeaderFirst, .mainHeaderSecond {
  display: flex;
  padding-bottom: 41px;
  font-family: "Gilam";
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
}
.mainContent {
  max-width: 1182px;
  font-weight: 700; 
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}

.wrapperFirst {
  margin-top: 41px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 35px 25px;
}
.wrapperOne {
  grid-column: 1/3;
  grid-row: 1/4;
  width: 467px;
  height: 468px;
  background-color: #634f2c;
}
.wrapperTwo {
  grid-column: 3/5;
  grid-row: 1/4;
  width: 467px;
  height: 468px;
  background-color: #b4a385;
}
.wrapperThree {
  grid-column: 5/7;
  grid-row: 1/4;
  width: 467px;
  height: 468px;
  background-color: #e4b564;
}
.wrapperFour {
  grid-column: 1/4;
  grid-row: 4/7;
  width: 715px;
  height: 468px;
  background-color: #635a4a;
}
.wrapperFive {
  grid-column: 4/7;
  grid-row: 4/7;
  width: 715px;
  height: 468px;
  background-color: #b08c4d;
}
.wrapperOne, .wrapperTwo, .wrapperThree, .wrapperFour, .wrapperFive {
  color: #ffffff;
  font-family: "Gilam";
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  padding: 220px 43px 0px 44px;
  display: flex;
  justify-content: center;
  text-align: center;
} 

.mainHeaderSecond {
  padding-top: 161px;
  padding-bottom: 94px;
  font-family: "Gilam";
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
}
.mainHeaderSecond{
  padding-top: 161px;
  padding-bottom: 91px;
}
.wrapperSecond {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 29px 26px;
  padding-bottom: 191px;
}
.wrapOne {
  grid-column: 1/3;
  grid-row: 1/3;
  width: 467px;
  height: 313px;
  background-color: #0e0e0e;
}
.wrapTwo {
  grid-column: 3/6;
  grid-row: 1/6;
  width: 467px;
  height: 492px;
  background-color: #242424;
}
.wrapThree {
  grid-column: 6/9;
  grid-row: 1/2;
  width: 467px;
  height: 255px;
  background-color: #1f1f1f;
}
.wrapFour {
  grid-column: 1/3;
  grid-row: 3/9;
  width: 467px;
  height: 584px;
  background-color: #1f1f1f;
}
.wrapFive {
  grid-column: 3/6;
  grid-row: 5/9;
  width: 467px;
  height: 395px;
  background-color: #e4b564;
}
.wrapSix {
  grid-column: 6/9;
  grid-row: 2/6;
  width: 467px;
  height: 313px;
  background-color: #0e0e0e;
}
.wrapSeven {
  grid-column: 6/9;
  grid-row: 6/9;
  width: 467px;
  height: 303px;
  background-color: #0a0909;
}
.wrapOne, .wrapTwo, .wrapThree, .wrapFour, .wrapFive, .wrapSix, .wrapSeven {
  font-family: "Gilam";
  font-size: 20px;
  line-height: 25px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding: 44px 113px 0px 52px;
}
.wrapOne, .wrapTwo, .wrapSeven {
  color: #ffffff;
  font-weight: 400;
}
.wrapThree, .wrapFour, .wrapSix {
  color: #ffffff;
  font-weight: 500;
}
.wrapFive {
  color: #000;
  font-weight: 500;
} 

.footer {
padding: 172px 230px 0px 230px;
background-color: #000;
}
.footerMenu {
  display: flex; 
}
.footerHeaderText {
  font-family: "Gilam";
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
  padding-right: 681px;
}

.footerWrapper {
  padding-top: 72px;
  display: grid;
  grid-template-columns: repeat (6, 1fr);
}
.footerWrapOne {
  grid-column: 1/3;
  grid-row: 1/3;
  width: 487px;
  height: 391px;
  background-color: #634f2c;
}
.footerWrapTwo {
  grid-column: 3/5;
  grid-row: 1/3;
  width: 487px;
  height: 391px;
  background-color: rgba(232, 210, 171, 0.761);
}
.footerWrapThree {
  grid-column: 5/7;
  grid-row: 1/3;
  width: 487px;
  height: 391px;
  background-color: #e4b564;
}
.footerWrapFour {
  grid-column: 1/3;
  grid-row: 3/6;
  width: 487px;
  height: 391px;
  background-color: #635a4a;
}
.footerWrapFive {
  grid-column: 3/5;
  grid-row: 3/6;
  width: 487px;
  height: 391px;
  background-color: #b08c4d;
}
.footerWrapSix {
  grid-column: 5/7;
  grid-row: 3/6;
  width: 487px;
  height: 391px;
  background-color: #634f2c;
}

.footerContent {
  padding-top: 170px;
  padding-left: 149px;
}
.footerContentFive {
  padding-top: 169px;
  padding-left: 184px;
}
.footerWrapImgOne {
  padding-top: 61px;
  padding-left: 215px;
}
.footerWrapImgTwo {
  padding-top: 3px;
  padding-left: 172px;
}
.footerWrapText {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 16px 94px 0px 96px;
  font-family: "Gilam";
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #ffffff;
}

.line {
  padding-top: 239px;
  background-color: #171717;
}